*{
  background-color: #000814;
  color: whitesmoke;
}

.App {
  margin: 40px;
  text-align: center;
  border: 2px solid #003566;
  height: auto;
  width: auto;
  justify-content: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
}
select{
  padding: 10px;
  margin: 15px;
  border: 2px solid #003566;
  background-color: black;
  color: whitesmoke;
}

button{
  padding: 10px;
  margin: 15px;
  border: 2px solid #003566;
  background-color: black;
  color: whitesmoke;
}

input{
  padding: 10px;
  margin: 15px;
  border: 2px solid #003566;
  background-color: black;
  color: whitesmoke;
}

div{
  padding: 10px;
  margin: 15px;
  background-color: black;
  color: whitesmoke;
}

h1{
  color: #ffc300;
}

option{
  background-color: #0000;
  color: whitesmoke;
}

h2{
  color: #ffd60a;
}

p{
  color: #ffd60a;
}

@media only screen and (max-height: 1200px){
  select{
    padding: 1px;
    margin: 5px;
  }
  
  button{
    padding: 1px;
    margin: 5px;
  }
  
  input{
    padding: 1px;
    margin: 5px;
  }
  
  div{
    padding: 1px;
    margin: 5px;
  }
}